<div class="skills-section">


    <div id="description" class="flex flex-wrap justify-center items-center">
        <div class="pb-8 w-3/4 grid grid-cols-3 gap-4">
            <div class="col-span-2 flex flex-col justify-center">
                <h1 class="text-2xl font-semibold w-1/3  rounded-lg  flex items-center h-10 text-primary">
                    Mes <span class="text-secondary m-2">compétence</span>
                </h1>

                <p class="text-lg leading-relaxed text-tertiary">
                    Acquises au fil de mes expériences et formations, mes compétences en développement informatique
                    s'articulent autour de la maîtrise des langages et outils modernes.
                </p>
            </div>
            <div class="flex justify-end">
                <img [src]="programmingImage" alt="programming" class="h-auto max-w-xs" />
            </div>
        </div>
    </div>

    <br />

    <div id="techs-section" class="flex flex-wrap justify-center">
        <div class="pb-8 w-3/4">
            <h1
                class="text-white text-center text-2xl font-semibold w-1/3 bg-primary rounded-lg mx-auto my-auto flex items-center justify-center h-10">
                Mes <span class="text-secondary m-2">compétences</span> professionnelles
            </h1>
            <div class="flex flex-wrap justify-center">
                <img *ngFor="let skill of skills; let i = index" class="icons icons-secondary" src="{{skill.icon}}" title="{{skill.name}}" />
            </div>
        </div>

    </div>


    <div id="tools-section" class="flex flex-wrap justify-center ">

        <div class="pb-8 w-3/4 ">
            <h1
                class="text-white text-center text-2xl font-semibold w-1/3 bg-primary rounded-lg mx-auto my-auto flex items-center justify-center h-10">
                Les <span class="text-secondary m-2">outils</span> que j'utilise
            </h1>
            <div class="flex flex-wrap justify-center">
                <img *ngFor="let tool of tools; let i = index" class="icons icons-secondary" src="{{tool.icon}}" title="{{tool.name}}" />
            </div>
        </div>
    </div>
</div>