<!-- component -->
<section>
    <div class=" text-tertiary py-8">
        <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
            <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
                <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">Parcours Académique</p>
                <p class="text-sm md:text-base text-gray-50 mb-4">
                    J'ai suivi des cours variés et participé à des projets enrichissants au cours de mon parcours
                    universitaire.
                    Cette expérience m'a permis de développer des compétences essentielles et de me préparer pour le
                    futur.
                </p>
            </div>
            <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
                <div class="container mx-auto w-full h-full">
                    <div class="relative wrap overflow-hidden p-10 h-full">
                        <div
                            class="absolute h-full border-2 border-secondary right-1/2 transform translate-x-1/2  rounded-1">
                        </div>
                        <div
                            class="absolute h-full border-2 border-secondary left-1/2 transform -translate-x-1/2  rounded-1">
                        </div>

                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">Août 2024</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl text-primary">Fin de l'alternance</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Pick your favourite event(s) and register in that event by filling the form
                                    corresponding to that
                                    event. Its that easy :)
                                </p>
                            </div>
                        </div>
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-300">Septembre 2023 - Juillet 2024</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl text-primary">3 ème année de BUT</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Parcours A, Réalisation d'applications : conception, développement, validation.<br/>
                                    Développement d'une API REST et le front-end du site de l'emploi du temps de l'IUT
                                </p>
                            </div>
                        </div>
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">  

                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">Septembre 2022</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl text-primary">Début de l'alternance</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Participate online. The links for your registered events will be sent to you via
                                    email and WhatsApp groups. Use those links and show your talent.
                                </p>
                            </div>
                        
                            <div class="order-2 w-2/12"></div> <!-- Redistribuez l'espace, ajustez la largeur ici -->
                        
                            <div class="order-2 w-5/12 px-1 py-4">
                                <p class="mb-3 text-base text-yellow-300">Septembre 2022 - Juillet 2023</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl text-primary">2 ème année de BUT</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Parcours A, Réalisation d'applications : conception, développement, validation. <br/>
                                    Développement d'un site web de lecture et d'écriture de livres en collaboration

                                </p>
                            </div>
                        </div>
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-300">Septembre 2021 - Juillet 2022</p>
                                <h4 class="mb-3 font-bold text-lg md:text-2xl text-primary">1 er année de BUT</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    The ultimate genius will be revealed by our judging panel on 10th May, 2021 and the
                                    resukts will be
                                    announced on the whatsapp groups and will be mailed to you.
                                </p>
                            </div>
                        </div>

                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>

                            <div class="order-1  w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-300">Septembre 2019 - Juillet 2021</p>
                                <h4 class="mb-3 font-bold  text-lg md:text-2xl text-primary">Baccalauréat</h4>
                                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                                    Mention assez bien. <br/>
                                    Spécialité Mathématiques & NSI.
                                </p>
                            </div>
                        </div>
                    </div>
                    <img class="mx-auto -mt-36 md:-mt-36" [src]="launch" />
                </div>
            </div>
        </div>
    </div>
</section>