<section class="bg-background">
    <div class="py-8 px-4 mx-auto max-w-screen-2xl lg:py-16 lg:px-6 ">
        <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
            <ng-container *ngFor="let project of projects">
                <div class="items-center rounded-lg shadow sm:flex">
                    <a href={{project.link}}>
                        <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src={{project.image}} alt="Bonnie Avatar">
                    </a>
                    <div class="p-5">
                        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <a href={{project.link}}>{{project.title}}</a>
                        </h3>
                        <span class="text-gray-500 dark:text-gray-400">{{project.date}}</span>
                        <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">{{project.description}}</p>
                        <ul class="flex space-x-4 sm:mt-0">
                            <li *ngFor="let icon of project.icons">
                                <img class="w-8 h-8 rounded-full" src={{icon}} alt="Bonnie Green">
                            </li>
                            
                        </ul>
                    </div>
                </div> 
            </ng-container>
            
        </div>  
    </div>
  </section>