<section class="     px-16 mt-32 mb-24">
    <div class="grid max-w-max px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-12 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-6">
            <h1
                class="max-w-3xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-7xl text-primary">
                Maxime D'HAEYERE</h1>
            <p class="max-w-3xl mb-6 font-medium text-tertiary lg:mb-8 md:text-lg lg:text-4xl font-press-start">
                Bienvenue sur mon portfolio ! <br />
                Apprenti chez Stellantis et étudiant en troisième année de BUT Informatique, je suis passionné de
                développement. Explorez mes projets pour en savoir plus sur moi et n'hésitez pas à me contacter !
            <div class="flex items-center">
                <a href="mailto:maximedhaeyere@gmail.com" class="mr-4">

                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                        class="w-9" />

                </a>
                <a href="https://github.com/THEfireZz" class="mr-4">

                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                        class="w-10" />

                </a>
                <a href="https://www.linkedin.com/in/maxime-d-haeyere-1a0024232/">

                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
                        class="w-10" />

                </a>
            </div>


        </div>
        <div class="hidden lg:mt-0 lg:col-span-6 lg:flex w-fit">
            <img [src]="greetingImage" alt="mockup">
        </div>
    </div>
</section>